<ul class="main-navigation">
  <li><a href="http://jackl0phty.org">Home</a></li>
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://search.cpan.org/~jlophty/">CPAN</a></li>
  <li><a href="https://github.com/jackl0phty">Github</a></li>
  <li><a href="http://community.opscode.com/users/jackl0phty">Chef</a></li>
  <li><a href="http://www.linkedin.com/in/geraldhevener">LinkedIn</a></li>
  <li><a href="https://plus.google.com/115179562165561540174">Google+</a></li>
  <li><a href="http://www.youtube.com/user/jackl0phty">YouTube</a></li>
</ul>
